@charset "utf-8";
body{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";

	margin: 0;
	padding: 0;
}





.banner{
	width: 100%;
	height: 100vh;
	background-image: url("../../Pictures/Saved Pictures/pngtree-double-eleven-mobile-phones-promote-atmospheric-black-banner-image_175325.jpg");
		position: inherit;
	
   
}
.navbar{
	width: 85%;
		margin: auto;
	padding: 35px 0;
	display: flex;justify-content: space-between;
		
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: #FFFFFF;
	text-transform: uppercase;
	
	
}
.navbar ul li a::after{
	content: '';
	height: 1px;
	width: 0;
	background: #EDCD0E;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
	
}
.navbar ul li a:hover::after{
	width: 100%;
	
}


.content{

	width: 100%;
	position: absolute;
	top: 50%;
		transform: translateY(-50%);
	text-align: center;
	color: white;
	



}  
.content h1{
	font-size: 70px;
	margin-top: 80px;
	
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}
.content p{
	margin: 20px;
	 font-weight:100;
	line-height: 25px;
	
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	
}
button{
	width: 200px;
	padding: 15px 0; 
	text-align: center;
	margin: 20px 10px;
    border-radius: 25px;
	 font-weight: bold;
	border: 2px solid rgba(255,215,0,1.00);
	background: transparent;
	color: white;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
span{
	background: rgba(255,215,0,1.00);
	height: 100%;
	width: 0;
	 border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
	
}
button:hover{
	border: none;
}





	

	
		




	



	







	

